* {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    padding: 20px;
    font-family: 'Roboto', 'Ubuntu';
    font-weight: 300;
    margin: 0;
}

main {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    max-width: 720px;
    margin: auto;
    padding: 5em 4em 4em;
}

h1, h2, h4 {
    font-weight: 300;
}

mark {
    color: #2b7de9;
    background-color: transparent;
}

b {
    font-weight: 400;
}

h1 {
    max-width: 470px;
}

#supported-formats {
    display: inline-block;
    min-width: 2.7em;
}

a {
    color: #2b7de9;
    text-decoration: none;
    cursor: pointer;
}

ol, ul {
    font-size: 1.2em;
    padding-inline-start: 1em;
}

p {
    text-align: justify;
    font-size: 1.2em;
}

@media (max-width: 720px) {
    body {
        padding: 0;
    }

    main {
        padding: 3em 2em 2em;
    }
}

.ti-cursor {
    color: #2b7de9!important;
    animation: none!important;
    display: inline-block;
    transform: translateY(1.2);
}